body{
  // Typo.
  font-family: 'Lora', Arial, Helvetica, sans-serif;
  a,
  h1,
  h2{
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
  }
  h1{
    font-size: 4em;
    text-transform: uppercase;
  }
  h2{
    font-size: 3em;
    text-transform: uppercase;
  }
  h3{
    font-weight: bold;
    font-size: 1.3em;
  }
}

.nav-cont{
  padding: 0;
}

.hdr-cont{
  background-color: aqua;
  min-height: 350px;
  h1,
  h3:last-child{
    padding: 20px;
  }
}

.sub-hdr{
  background-color: aquamarine;
  min-height: 500px;
}

.pjct-title{
  background-color: aqua;
  min-height: 200px;
}

.pjct-cont{
  background-color: aquamarine;
  .pjct-box:first-child{
    min-height: 350px;
    margin-top: 20px;
  }
  .pjct-box{
    background-color: azure;
    min-height: 350px;
    margin: 10px 0 10px 0;
    max-width: 96%;
  }
  .pjct-box:last-child{
    min-height: 350px;
    margin-bottom: 20px;
  }
}

.cntct-cont{
  background-color: aqua;
  min-height: 350px;
}

.footr-cont{
  background-color: aquamarine;
  min-height: 200px;
}